.App {
  text-align: center;
}

.Pixel {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-bottom: -4px;
}

.Pixel-on {
  background-color: blue;
}

.Pixel-off {
  background-color: yellow;
}
